body{
  margin: 0 auto;
}

.btn {
  background: #3B5998;
  background-image: -webkit-linear-gradient(top, #3B5998, #2980b9);
  background-image: -moz-linear-gradient(top, #3B5998, #2980b9);
  background-image: -ms-linear-gradient(top, #3B5998, #2980b9);
  background-image: -o-linear-gradient(top, #3B5998, #2980b9);
  background-image: linear-gradient(to bottom, #3B5998, #2980b9);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #5e205e;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 50px 10px 20px;
  text-decoration: none;
  width:45%;
  margin-bottom:5px ;
  }

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3B5998);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3B5998);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3B5998);
  background-image: -o-linear-gradient(top, #3cb0fd, #3B5998);
  background-image: linear-gradient(to bottom, #3cb0fd, #3B5998);
  text-decoration: none;
}

.container{
margin:0px;

}
.panel-heading{



}
.panel-title{
 background: #3B5998;
  background-image: -webkit-linear-gradient(top, #3B5998, #2980b9);
  background-image: -moz-linear-gradient(top, #3B5998, #2980b9);
  background-image: -ms-linear-gradient(top, #3B5998, #2980b9);
  background-image: -o-linear-gradient(top, #3B5998, #2980b9);
  background-image: linear-gradient(to bottom, #3B5998, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 0px;
  text-shadow: 1px 1px 3px #5e205e;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top:0;

}

