body{
	

}
h3{
	color: black;
}
.dd{
	float: left;
	width: 50%;

}
.dd img{
	width:75px; 
	height: 75px; 
	display: block; 
	margin: auto;
}

.dd h3{
	color: #2A8FE1; 
	font-size: 15px; 
	text-align: center;
	margin-top: -18px;
	margin-left: 25px; 
	text-decoration: none;
}
.ctgv{
	float: right;
	width: 50%;
}
.ctgv img{
	width:75px; 
	height: 75px; 
	display: block; 
	margin: auto;
}
.ctgv h3{
	color: #2A8FE1; 
	font-size: 15px; 
	text-align: center;
	margin-top: -18px;
	margin-left: 25px; 
	text-decoration: none;
}
.rk{
float:left;
	width: 50%;
}
.rk img{
	width:75px; 
	height: 75px; 
	display: block; 
	margin: auto;
}
.rk h3{
	color: #2A8FE1; 
	font-size: 15px; 
	text-align: center;
	margin-top: -18px;
	margin-left: 25px; 
	text-decoration: none;
}
.cv{
	float: right;
	width: 50%;
}
.cv img{
	width:75px; 
	height: 75px; 
	display: block; 
	margin: auto;
}
.cv h3{
	color: #2A8FE1; 
	font-size: 15px; 
	text-align: center;
	margin-top: -18px;
	margin-left: 25px; 
	text-decoration: none;
}
.kt{
	float: left;
	width: 50%;
}
.kt img{
	width:75px; 
	height: 75px; 
	display: block; 
	margin: auto;
}
.kt h3{
	color: #2A8FE1; 
	font-size: 15px; 
	text-align: center;
	margin-top: -18px;
	margin-left: 25px; 
	text-decoration: none;
}
.bb{
	float: right;
	width: 50%;
}
.bb img{
	width:75px; 
	height: 75px; 
	display: block; 
	margin: auto;
}
.bb h3{
	color: #2A8FE1; 
	font-size: 15px; 
	text-align: center;
	margin-top: -18px;
	margin-left: 25px; 
	text-decoration: none;
}
.rr{
	width: 100%;
}
.rr img{
	width:75px; 
	height: 75px; 
	display: block; 
	margin: auto;
}
.rr h3{
	color: #2A8FE1; 
	font-size: 15px; 
	text-align: center;
	margin-top: -18px;
	margin-left: 25px; 
	text-decoration: none;
}