
/* Desktop */

	@media screen and (min-width: 737px) {

		/* Basic */

			body, input, textarea, select {
				font-size: 13pt;
			}
			footer {
				margin: 3em 0 0 0;
			}

				footer > p {
					font-size: 1.25em;
				}

				/* main */

			.main {
				padding: 0em 0 8em 0;
				text-align: center;
			}
		/*support your team*/	
		.panel{
		padding: 1em 2.35em 1em 2.35em;
		font-size: 1.1em;
		text-align:center;
		
		}
		.page{
		
		text-align:center;
		
		}
		/* Form */

			form input[type="button"],
			form input[type="submit"],
			form input[type="reset"],
			form button,
			form .button {
				margin: 0 0.5em 0 0.5em;
			}

		/* Button */

			input[type="button"],
			input[type="submit"],
			input[type="reset"],
			button,
			.button {
				padding: 1em 2.35em 1em 2.35em;
				font-size: 1.1em;
			}

				input[type="button"].big,
				input[type="submit"].big,
				input[type="reset"].big,
				button.big,
				.button.big {
					font-size: 1.5em;
					letter-spacing: -0.025em;
				}

		/* Box */

			.box {
				padding: 2em;
			}
				.box.style2 h3 {
					margin-bottom: 0.25em;
				}

				.box.style2 .image {
					position: relative;
					left: 2em;
					top: 2em;
					margin: -4em 0 4em -4em;
					width: auto;
				}
		/* Copyright */

			#copyright {
				font-size: 1em;
				line-height: 1em;
			}

				#copyright li {
					display: inline-block;
					border-left: solid 1px rgba(0, 0, 0, 0.5);
					box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 0.1);
					padding: 0 0 0 1em;
					margin: 0 0 0 1em;
				}

					#copyright li:first-child {
						border: 0;
						box-shadow: none;
						padding-left: 0;
						margin-left: 0;
					}

	}

/* Tablet */

	@media screen and (min-width: 737px) and (max-width: 1200px) {

		/* Basic */

			body {
				min-width: 960px;
				font-size: 11pt;
			}

			input, textarea, select {
				font-size: 11pt;
			}
			
				/* main */

			.main {
				padding: 5em 0 25em 0;
				text-align: center;
			}
		/* Articles */

			#top .image {
				width: 19.5em;
				height: 19.5em;
				margin: 0;
			}

	}

/* Mobile */

	@media screen and (max-width: 736px) {

		/* Basic */

			body, input, textarea, select {
				line-height: 1.75em;
				font-size: 10pt;
				letter-spacing: 0;
			}
			footer {
				margin: 2.5em 0 0 0;
			}

				footer > p {
					font-size: 1.25em;
				}

			hr {
				margin: 1.5em 0 2em 0;
			}

		/* Section/Article */

			section, article {
				clear: both;
			}

		/* Button */

			input[type="button"],
			input[type="submit"],
			input[type="reset"],
			button,
			.button {
				text-align: center;
				font-size: 1.2em;
				width: 50%;
				padding: 1em 0 1em 0;
			}

		/* List */

			ul.social {
				padding: 1em 0.5em 0 0.5em;
			}

				ul.social li {
					margin: 0.5em 0.5em 0.5em 0.5em;
				}

					ul.social li a {
						top: 0 !important;
					}

						ul.social li a:before {
							background-color: transparent !important;
						}

			ul.actions {
				margin: 0;
			}

				ul.actions li {
					display: block;
					margin: 10px 0 0 0;
				}

					ul.actions li:first-child {
						margin-top: 0;
					}

		/* Box */

			.box {
				padding: 30px 20px 30px 20px;
				margin: 0 0 20px 0 !important;
			}

				.box h3 {
					margin-bottom: 0.25em;
				}

				.box .image.centered {
					margin-bottom: 1em;
				}

				.box .image.featured {
					position: relative;
					left: 20px;
					top: 20px;
					margin: -50px 0 50px -40px;
					width: auto;
				}

		/* Nav */

			#nav a {
				padding: 0.5em;
			}

		/* Articles */

			#top .image {
				width: 70%;
				height: auto;
				margin: 0 auto 1.75em auto;
			}

			#contact footer {
				margin: 0;
			}

		/* Copyright */

			#copyright {
				font-size: 1em;
				margin: 0;
			}

				#copyright li {
					display: block;
				}

	}